.bash_history
.bash_logout
.bashrc
.cache/
.conda/
.gitignore.swp
.ipynb_checkpoints/
.ipython/
.jupyter/
.keras/
.local/
.profile
.python_history
.ssh/
.torch/
.viminfo
.wget-hsts
pytorch_objectdetecttrack/
PyTorch-YOLOv3/
assignment1/
assignment2/
assignment3/
cowc-l/
cowc-m-everything.tar
cowc-m/
cowc_extract_scripts/
cuda-repo-ubuntu1604_8.0.61-1_amd64.deb
darknet/
gcloud/
knn.ipynb
spring1819_assignment1.zip
spring1819_assignment2.zip
spring1819_assignment3.zip
svm.ipynb
